@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Setec Astronomy
</div>

<div class="row">
      Secret Test Variable (TestVariable):  @Cache["SecretTestVariable"].ToString()
</div>